public/boktips.html

<head>
	  <title></title>
	    <meta charset="utf-8" />
	      <meta name="viewport" content="width=device-width, initial-scale=1" />
	        <meta name="description" content="Pernillas Hälsa erbjuder zonterapi i växjö och älmhult. Zonterapi är infalmmationsläkande, vilket dämpar smärta och värk" />
		  <meta name="keywords" content="pernillas,hälsa,zonterapi,växjö,älmhult" />
		    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
		      <link rel="stylesheet" href="stylesheets/custom.css" />
		        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
			  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
			    <script src="javascript/menu.js"></script>
			      <script>
				          var selected = '2'
  </script>
</head>

<body>
	  <nav class="navbar navbar-default">
		      <div class="container">
			            <div class="navbar-header">
					            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#NAVBAR"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/">Pernillas Hälsa</a>
						          </div>
							        <div class="collapse navbar-collapse" id="NAVBAR">
									        <ul class="nav navbar-nav" id="mainMenu">
											          <li><a href="/">Start</a></li>
												            <li><a href="/betraktelser.html">Betraktelser</a></li>
													              <li><a href="/boktips.html">Boktips</a></li>
														                <li><a href="/kost.html">Kost</a></li>
																          <li><a href="/recept.html">Recept</a></li>
																	            <li><a href="/om.html">Om zonterapi</a></li>
																		              <li><a href="/terapi.html">Terapiformer</a></li>
																			                <li><a href="/ayurveda.html">Ayurveda</a></li>
																					          <li><a href="/kontakt.html">Kontakt</a></li>
																						          </ul>
																							        </div>
																								    </div>
																								      </nav>
<div class="container" style="margin-bottom:40px">
  <col-xs-12 class="col-sm-12 col-md-6">
    <div class="well rcorners">
      <h3>Vägra Följa John</h3>
      <p>Myter och oskrivna regler</p>
      <p>
        Att vårda det friska
        Att utvecklas som människa
        Grunden till att må bra
        
      </p>
    </div>
  </col-xs-12>
  <col-xs-12 class="col-sm-12 col-md-6">
    <p><img class="img-responsive rcorners" src="/img/vägra_följa_john.png" style="width:400px" alt="Vägra följa john bild"/></p>
  </col-xs-12>
  <hr class="divider"/>
  <col-xs-12 class="col-sm-12 col-md-6">
    <div class="well rcorners">
      <h3>Sanna Ehdin Anandala, Den självläkande människan</h3>
      <p>
        Boken tar upp kosten och livsstilen som stärker hälsan,
        Sanna berättar om nya forskningsrön och ger
        konkreta praktiska råd om bl.a.
        fetter, detox, hormoner och andningen
        som hjälper dig att bli en självläkande människa
        
      </p>
    </div>
  </col-xs-12>
  <col-xs-12 class="col-sm-12 col-md-6">
    <p><img class="img-responsive rcorners" src="img/sanna.png" style="width:400px" alt="Sannas bild"/></p>
  </col-xs-12>
  <hr class="divider"/>
  <col-xs-12 class="col-sm-12 col-md-6">
    <div class="well rcorners">
      <h3>Katarina Mannheimer, Dit hjärtat längtar</h3>
      <p>
        Detta är en bok om självkännedom
        och om resan tillbaka till oss
        själva, den som vi innerst inne är.
        Den som det är meningen att vi ska
        vara, om vi vill må riktigt bra
        
      </p>
    </div>
  </col-xs-12>
  <col-xs-12 class="col-sm-12 col-md-6">
    <p><img class="img-responsive rcorners" src="img/katarina.jpg" style="width:400px" alt="katarinas bild"/></p>
  </col-xs-12>
  <hr class="divider"/>
  <col-xs-12 class="col-sm-12 col-md-6">
    <div class="well rcorners">
      <h3>Janesh Vaidya, Maten är min medicin</h3>
      <p>
        En indisk kokbok inspererad
        av den insidka läran. Tips för  de olika
        kroppstyperna, Kapha, Pitta och Vata.
      </p>
    </div>
  </col-xs-12>
  <col-xs-12 class="col-sm-12 col-md-6">
    <p><img class="img-responsive rcorners" src="img/janesh.JPG" style="height:400px;" alt="Janesh bild"/></p>
  </col-xs-12>
  <hr class="divider"/>
</div>
</body>
<footer class="footer">
	  <container>
	      <p>Pernilla Bertilsdotter <img src="img/heartBeat.png" /> Diplomerad Zonterapeut <img src="img/heartBeat.png" /> Kost och Hälsa</p>
	        </container>
</footer>
 

views/boktips.jade
extends header

block content
   .container(style="margin-bottom:40px;")
      col-xs-12.col-sm-12.col-md-6
         .well.rcorners
            h3 Vägra Följa John
            p.
               Myter och oskrivna regler
            p.
               Att vårda det friska
               Att utvecklas som människa
               Grunden till att må bra

      col-xs-12.col-sm-12.col-md-6
         p
            img.img-responsive.rcorners(src = '/img/vägra_följa_john.png', style = 'width:400px;', alt='Vägra följa john bild')
      hr.divider

      col-xs-12.col-sm-12.col-md-6
         .well.rcorners
            h3 Sanna Ehdin Anandala, Den självläkande människan
            p.
               Boken tar upp kosten och livsstilen som stärker hälsan,
               Sanna berättar om nya forskningsrön och ger
               konkreta praktiska råd om bl.a.
               fetter, detox, hormoner och andningen
               som hjälper dig att bli en självläkande människa

      col-xs-12.col-sm-12.col-md-6
         p
            img.img-responsive.rcorners(src = 'img/sanna.png' style = 'width:400px;', alt='Sannas bild')
      hr.divider

      col-xs-12.col-sm-12.col-md-6
        .well.rcorners
          h3 Katarina Mannheimer, Dit hjärtat längtar
          p.
            Detta är en bok om självkännedom
            och om resan tillbaka till oss
            själva, den som vi innerst inne är.
            Den som det är meningen att vi ska
            vara, om vi vill må riktigt bra

      col-xs-12.col-sm-12.col-md-6
        p
            img.img-responsive.rcorners(src ='img/katarina.jpg', style = 'width:400px;' alt='katarinas bild')
      hr.divider

      col-xs-12.col-sm-12.col-md-6
        .well.rcorners
          h3 Janesh Vaidya, Maten är min medicin
          p.
            En indisk kokbok inspererad
            av den insidka läran. Tips för  de olika
            kroppstyperna, Kapha, Pitta och Vata.
      col-xs-12.col-sm-12.col-md-6
        p
            img.img-responsive.rotatePick.rcorners(src ='img/janesh.jpg', style = 'height:400px; margin-top:65px; margin-bottom:75px; margin-left:-65px;' alt='Janesh bild')
      hr.divider
