views/index.jade
extends header

block content
   .container(style="margin-bottom:40px;")
      .row
         .col-xs-12.col-sm-8.col-md-8.col-lg-8
            .well.rcorners
               p.
                  Zonterapi är en av världens äldsta läkekonster
                  vid sidan av akupunktur och ayurveda.
                  Som zonterapeut arbetar man genom fötterna för att
                  rätta till obalanser i kroppen. Zonterapin är framför allt
                  inflammationsläkande och dämpar därför smärta och värk.

               p.
                  Jag började utbilda mig till Zonterapeut 2009,
                  när min dotter som då var 23 år inte fick hjälp
                  inom den traditionella vården. Efter att ha övat
                  på henne under flera veckor så försvann hennes problem.
                  Jag visste inte vad anledningen till problemen var,
                  men kroppen har en fantastisk förmåga att
                  rätta till det som har hamnat i obalans.
                  Idag tror jag att hon hade en kronisk inflammation,
                  ett av de tillstånd där Zonterapi fungerar mycket bra.

               p.
                  Jag finns i #[popOutText Älmhult och Växjö]
                  och säljer även delar av Maria Åkerbergs produkter
            .well.rcorners
              p(style='white-space:pre;')
                 label Nyhet hos Pernillas Hälsa!
              |  Jag är nu bokningsbar på bokadirekt.se
              br
              |  Bokning för #[a(href = 'https://www.bokadirekt.se/places/pernillas-h%C3%A4lsa-31015' target = '_blank') Älmhult]
              br
              |  Bokning för #[a(href = 'https://www.bokadirekt.se/places/aromia-med-v%C3%A4nner-16682' target = '_blank') Växjö]



         .col-xs-12.col-sm-4.col-md-4.col-lg-4
            p
               img(src = 'img/pernilla.jpg' style = 'width:300px').rcorners

public/index.html

<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Pernillas Hälsa erbjuder zonterapi i växjö och älmhult. Zonterapi är infalmmationsläkande, vilket dämpar smärta och värk" />
    <meta name="keywords" content="pernillas,hälsa,zonterapi,växjö,älmhult" />
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous" />
    <link rel="stylesheet" href="stylesheets/custom.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="javascript/menu.js"></script>
    <script>
        var selected = "";
    </script>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#NAVBAR"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="#">Pernillas Hälsa</a>
            </div>
            <div class="collapse navbar-collapse" id="NAVBAR">
                <ul class="nav navbar-nav" id="mainMenu">
                    <li><a href="/">Start</a></li>

                    <li><a href="/betraktelser.html">Betraktelser</a></li>

                    <li><a href="/boktips.html">Boktips</a></li>

                    <li><a href="/kost.html">Kost</a></li>

                    <li><a href="/recept.html">Recept</a></li>

                    <li><a href="/om.html">Om zonterapi</a></li>

                    <li><a href="/terapi.html">Terapiformer</a></li>

                    <li><a href="/ayurveda.html">Ayurveda</a></li>

                    <li><a href="/kontakt.html">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-bottom: 40px;">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="well rcorners">
                    <p>
                        Zonterapi är en av världens äldsta läkekonster vid sidan av akupunktur och ayurveda. Som zonterapeut arbetar man genom fötterna för att rätta till obalanser i kroppen. Zonterapin är framför allt inflammationsläkande
                        och dämpar därför smärta och värk.
                    </p>
                    <p>
                        Jag började utbilda mig till Zonterapeut 2009, när min dotter som då var 23 år inte fick hjälp inom den traditionella vården. Efter att ha övat på henne under flera veckor så försvann hennes problem. Jag visste inte
                        vad anledningen till problemen var, men kroppen har en fantastisk förmåga att rätta till det som har hamnat i obalans. Idag tror jag att hon hade en kronisk inflammation, ett av de tillstånd där Zonterapi fungerar
                        mycket bra.
                    </p>
                    <p>
                        Jag finns i
                        <popOutText>Älmhult och Växjö</popOutText>
                        och säljer även delar av Maria Åkerbergs produkter
                    </p>
                </div>
                <div class="well rcorners">
                    <p style="white-space: pre;">
                        <label>Nyhet hos Pernillas Hälsa!</label>
                    </p>
                    Jag är nu bokningsbar på bokadirekt.se<br />
                    Bokning för <a href="https://www.bokadirekt.se/places/pernillas-h%C3%A4lsa-31015" target="_blank">Älmhult</a><br />
                    Bokning för <a href="https://www.bokadirekt.se/places/aromia-med-v%C3%A4nner-16682" target="_blank">Växjö</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <p><img class="rcorners" src="img/pernilla.jpg" style="width: 300px;" /></p>
            </div>
        </div>
    </div>
</body>
<footer class="footer">
    <container>
        <p>Pernilla Bertilsdotter <img src="img/heartBeat.png" /> Diplomerad Zonterapeut <img src="img/heartBeat.png" /> Kost och Hälsa</p>
    </container>
</footer>
