views/kontakt.jade
extends header

block content
   .container(style="margin-bottom:40px;")
      section.col-xs-12.col-sm-12.col-md-6
         h2
            header.label.label-default Kontaktuppgifter

         article.well.rcorners
            label E-post:
            p.
               info@pernillashälsa.se

            label Tel.Nr:
            p.
               070 - 61 888 26
            label Adress:
            p.
               Aromia med vänner,#[br]
               Sandgärdsgatan 29, Växjö#[br]
               Boka på Aromia med vänners #[a(href="https://www.bokadirekt.se/places/aromia-med-v%C3%A4nner-16682/") hemsida] eller via telefon #[br]#[br]
               Eriksgatan 12, Älmhult #[br]
               Boka på #[a(href = 'https://www.bokadirekt.se/places/pernillas-h%C3%A4lsa-31015' target = '_blank') bokadirekt] eller via telefon

      section.col-xs-12.col-sm-12.col-md-6
         h2
            header.label.label-default Behandlingar

         article.well.rcorners
            label Strykningsterapi:
            p.
              50 minuter : 600 Kronor
            label Ortobionomi:
            p.
              50 minuter : 600 Kronor
            label Aurikuloterapi:
            p.
              50 minuter : 600 Kronor
            label Handmassage:
            p.
              30 minuter : 440kr
            label Öronakupunktur:
            p.
              50 minuter : 600kr
            f för mer information om vad terapin innebär se #[a(href="/terapi") terapiformer]

        img.center-block(src = 'img/behandlingsrum.jpg' style = 'width:400px' ).rcorners

public/kontakt.html

<head>
	  <title></title>
	    <meta charset="utf-8" />
	      <meta name="viewport" content="width=device-width, initial-scale=1" />
	        <meta name="description" content="Pernillas Hälsa erbjuder zonterapi i växjö och älmhult. Zonterapi är infalmmationsläkande, vilket dämpar smärta och värk" />
		  <meta name="keywords" content="pernillas,hälsa,zonterapi,växjö,älmhult" />
		    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
		      <link rel="stylesheet" href="stylesheets/custom.css" />
		        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
			  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
			    <script src="javascript/menu.js"></script>
			      <script>
				          var selected = 8
  </script>
</head>

<body>
	  <nav class="navbar navbar-default">
		      <div class="container">
			            <div class="navbar-header">
					            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#NAVBAR"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/">Pernillas Hälsa</a>
						          </div>
							        <div class="collapse navbar-collapse" id="NAVBAR">
									        <ul class="nav navbar-nav" id="mainMenu">
											          <li><a href="/">Start</a></li>
												            <li><a href="/betraktelser.html">Betraktelser</a></li>
													              <li><a href="/boktips.html">Boktips</a></li>
														                <li><a href="/kost.html">Kost</a></li>
																          <li><a href="/recept.html">Recept</a></li>
																	            <li><a href="/om.html">Om zonterapi</a></li>
																		              <li><a href="/terapi.html">Terapiformer</a></li>
																			                <li><a href="/ayurveda.html">Ayurveda</a></li>
																					          <li><a href="/kontakt.html">Kontakt</a></li>
																						          </ul>
																							        </div>
																								    </div>
																								      </nav>
<div class="container" style="margin-bottom:40px">
  <section class="col-xs-12 col-sm-12 col-md-6">
    <h2>
      <header class="label label-default">Kontaktuppgifter</header>
    </h2>
    <article class="well rcorners">
      <label>E-post:</label>
      <p>
        info@pernillashälsa.se
        
      </p>
      <label>Tel.Nr:</label>
      <p>070 - 61 888 26</p>
      <label>Adress:</label>
      <p>Aromia med vänner,<br/>
        Sandgärdsgatan 29, Växjö<br/>
        Boka på Aromia med vänners <a href="https://www.bokadirekt.se/places/aromia-med-v%C3%A4nner-16682/">hemsida</a> eller via telefon <br/><br/>
        Eriksgatan 12, Älmhult <br/>
        Boka på <a href="https://www.bokadirekt.se/places/pernillas-h%C3%A4lsa-31015" target="_blank">bokadirekt</a> eller via telefon
        
      </p>
    </article>
  </section>
  <section class="col-xs-12 col-sm-12 col-md-6">
    <h2>
      <header class="label label-default">Behandlingar</header>
    </h2>
    <article class="well rcorners">
	  <label>Priser</label>
	  <p> 50 Minuter : 685 Kronor</p>
	  <p> 30 Minuter : 500 Kronor</p>
      <label>Strykningsterapi:</label>
      <p>50 minuter</p>
      <label>Ortobionomi:</label>
      <p>50 minuter</p>
      <label>Aurikuloterapi:</label>
      <p>50 minuter</p>
      <label>Handmassage:</label>
      <p>30 minuter</p>
	  <label>Hand & Fotmassage:</label>
      <p>50 minuter</p>
	  <label>Fotmassage:</label>
      <p>50 eller 30 minuter</p>
	  <label>Zonterapibehandling för barn 8-13 år:</label>
      <p>40 min : 500 kr</p>
      <label>Öronakupunktur:</label>
      <p>50 minuter</p>
	  <label>Handreflexologi :</label>
      <p>50 minuter</p>
      <f>för mer information om vad terapin innebär se <a href="/terapi.html">terapiformer</a></f>
    </article>
  </section>
</div>
<img class="rcorners" src="img/behandlingsrum.JPG" style="width:400px"/>
<footer class="footer">
	  <container>
	      <p>Pernilla Bertilsdotter <img src="img/heartBeat.png" /> Diplomerad Zonterapeut <img src="img/heartBeat.png" /> Kost och Hälsa</p>
	        </container>
</footer>
