public/terapi.html

<head>
	  <title></title>
	    <meta charset="utf-8" />
	      <meta name="viewport" content="width=device-width, initial-scale=1" />
	        <meta name="description" content="Pernillas Hälsa erbjuder zonterapi i växjö och älmhult. Zonterapi är infalmmationsläkande, vilket dämpar smärta och värk" />
		  <meta name="keywords" content="pernillas,hälsa,zonterapi,växjö,älmhult" />
		    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
		      <link rel="stylesheet" href="stylesheets/custom.css" />
		        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
			  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
			    <script src="javascript/menu.js"></script>
			      <script>
				          var selected = '6'
  </script>
</head>

<body>
	  <nav class="navbar navbar-default">
		      <div class="container">
			            <div class="navbar-header">
					            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#NAVBAR"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/">Pernillas Hälsa</a>
						          </div>
							        <div class="collapse navbar-collapse" id="NAVBAR">
									        <ul class="nav navbar-nav" id="mainMenu">
											          <li><a href="/">Start</a></li>
												            <li><a href="/betraktelser.html">Betraktelser</a></li>
													              <li><a href="/boktips.html">Boktips</a></li>
														                <li><a href="/kost.html">Kost</a></li>
																          <li><a href="/recept.html">Recept</a></li>
																	            <li><a href="/om.html">Om zonterapi</a></li>
																		              <li><a href="/terapi.html">Terapiformer</a></li>
																			                <li><a href="/ayurveda.html">Ayurveda</a></li>
																					          <li><a href="/kontakt.html">Kontakt</a></li>
																						          </ul>
																							        </div>
																								    </div>
																								      </nav>
<div class="container" style="margin-bottom:40px">
  <div class="well rcorners">
    <p>
      <label>Strykningsterapi</label>
    </p>
    <p>
      är en generator för livskraften.
      Metoden bygger på naturens egna lösningar på flöde och kraft.
      Som att människans konstitution är större än hennes synliga organism.
      Strykningsterapin har visat sig kunna påverka människors medvetenhet och att man hämtar sig förvånansvärt snabbt från tex. utbrändhet.
      Och att man känner kraft att ta tag i sin situation. Strykningsterapi stimulerar självläkningen i kroppen på ett mentalt och känslomässigt plan.
      Den är mycket effektiv där zonterpin blir för kraftfull.
      När jag behandlar med strykningsterapi så arbetar jag på fot och underben, med tryck och strykningar.
      
    </p>
  </div>
  <div class="well rcorners">
    <p>
      <label>Ortobionomi</label>
    </p>
    <p>
      är en metod till självläkning där jag försöker få leden att släppa taget om en låsning eller spänning.
      Behandlingen bygger på ledernas maximala rörelsedynamik.
      Den här kommunikationen mellan hjärna och ledernas och musklernas ledsinnen ger oftast ett varaktigt resultat.
      Inga knyck eller ryck, bara lugnt och sansat.
      
    </p>
  </div>
  <div class="well rcorners">
    <p>
      <label>Aurikuloterapi</label>
    </p>
    <p>
      Öron är ett mycket starkt reglexologiskt centrum. I örat finns något som kallad funktionspunkter, som samlar ihop kroppssystem i en enda punkt.
      Den här terapin är en kraftfull behandling som jag brukar jobba med som ett komplement till zonterapi.
      Jag sätter auriculofrön i örat på de zoner som jag vill behandla.
      
    </p>
  </div>
  <div class="well rcorners">
    <p>
      <label>Handmassage</label>
    </p>
    <p>
      Lyxig djupgående massage på händerna som får igång cirkulationen i hela kroppen.
      Mycket avslappnande och njutningsfull behandling med peeling och oljor
      En mjuk och behaglig stund där du känner dig ordentligt omhändertagen och alla dina sinnen berörs
      
      
    </p>
  </div>
  <div class="well rcorners">
    <p>
      <label>Hand & Fotmassage</label>
    </p>
    <p>
      En avslappnande behandling med peeling och mjuk crreme på både händer och fötter. En skön och djupavslappnande stund för dig som är stressad eller "uppe i varv".
      
      
    </p>
  </div>
    <div class="well rcorners">
    <p>
      <label>Fotmassage</label>
    </p>
    <p>
      Massage som utförs på fötterna med scrub och skön fotcreme. Avslappnande och lugnande behandling för trötta fötter.
Behandlingen påverkar även resten av kroppen på ett positivt sätt
      
    </p>
  </div>
      <div class="well rcorners">
    <p>
      <label>Zonterapibehandling för barn 8-13 år</label>
    </p>
    <p>
     En mjukare zonterapibehandling anpassad för barn. Fungerar vid allergier, huvudvärk, magont mm.
      
    </p>
  </div>
        <div class="well rcorners">
    <p>
      <label>Handreflexologi </label>
    </p>
    <p>
     Zonterapi på händerna. Genom tryck och massage på händerna kommer man åt att lossa på spänningar och lindra smärta i kroppen.
På händernas zoner dominerar huvud, hals och bröstkorg
    </p>
  </div>
  <div class="well rcorners">
    <p>
      <label>Öronakupunktur</label>
    </p>
    <p>
      I öronen finns reflexologizoner som motsvarar alla organ och delar av kroppen.
      Varje öra har ca 115 akupunkturpunkter på fram och baksidan där jag sätter nålar för att få ordning på en störning eller energiblockering i det organ som speglas där.
      Metoden ger nästan alltid väldigt snabbt resultat vid all slags smärta och värk.
      Du ligger skönt avslappnad på bänken och får en fotmassage under tiden som nålarna sitter i öronen.
    </p>
  </div>
</div>
</body>
<footer class="footer">
	  <container>
	      <p>Pernilla Bertilsdotter <img src="img/heartBeat.png" /> Diplomerad Zonterapeut <img src="img/heartBeat.png" /> Kost och Hälsa</p>
	        </container>
</footer>
 

views/terapi.jade
extends header

block content
    .container(style="margin-bottom:40px;")
        .well.rcorners
            p 
              label Strykningsterapi
            p. 
              är en generator för livskraften.
              Metoden bygger på naturens egna lösningar på flöde och kraft.
              Som att människans konstitution är större än hennes synliga organism.
              Strykningsterapin har visat sig kunna påverka människors medvetenhet och att man hämtar sig förvånansvärt snabbt från tex. utbrändhet.
              Och att man känner kraft att ta tag i sin situation. Strykningsterapi stimulerar självläkningen i kroppen på ett mentalt och känslomässigt plan.
              Den är mycket effektiv där zonterpin blir för kraftfull.
              När jag behandlar med strykningsterapi så arbetar jag på fot och underben, med tryck och strykningar.

        .well.rcorners
            p 
              label Ortobionomi
            p. 
              är en metod till självläkning där jag försöker få leden att släppa taget om en låsning eller spänning.
              Behandlingen bygger på ledernas maximala rörelsedynamik.
              Den här kommunikationen mellan hjärna och ledernas och musklernas ledsinnen ger oftast ett varaktigt resultat.
              Inga knyck eller ryck, bara lugnt och sansat.

        .well.rcorners
            p
              label Aurikuloterapi
            p. 
              Öron är ett mycket starkt reglexologiskt centrum. I örat finns något som kallad funktionspunkter, som samlar ihop kroppssystem i en enda punkt.
              Den här terapin är en kraftfull behandling som jag brukar jobba med som ett komplement till zonterapi.
              Jag sätter auriculofrön i örat på de zoner som jag vill behandla.
            
        .well.rcorners
            p
              label Handmassage
            p.  
              Lyxig djupgående massage på händerna som får igång cirkulationen i hela kroppen.
              Mycket avslappnande och njutningsfull behandling med peeling och oljor
              En mjuk och behaglig stund där du känner dig ordentligt omhändertagen och alla dina sinnen berörs 


         .well.rcorners
              p
                label Öronakupunktur
              p.
                I öronen finns reflexologizoner som motsvarar alla organ och delar av kroppen.
                Varje öra har ca 115 akupunkturpunkter på fram och baksidan där jag sätter nålar för att få ordning på en störning eller energiblockering i det organ som speglas där.
                Metoden ger nästan alltid väldigt snabbt resultat vid all slags smärta och värk.
                Du ligger skönt avslappnad på bänken och får en fotmassage under tiden som nålarna sitter i öronen.
